@model Nop.Admin.Models.User.UserModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@Html.ActionLink("Back to List", "Index")
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Partial("_CreateORUpdate", Model)
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
            <span id="user-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>
        </div>
    </div>
}
@Html.DeleteConfirmation("user-delete")